a{
    color: red;
}
nav>h2{
    color: red;
    background-color: aqua;
}

div+p{
    color: red;
}
a[href]{
    color: red;
    text-decoration: none;
}
a[class="active"]{
    color: green;
    text-decoration: underline;
    font-style: italic;
}
a[target="_self"]{
    background-color: beige;
}
p:last-child::after{
    content: '...';
}
ul>li::marker{
    color: green;
}
/* ul li ::before{
    content: '\2022';
    color:green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
} */

p:nth-child(even)::first-letter{
    color: red;
    font-size: 30px;
}